    body {
        height: 100%;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../img/sky.jpg");
    }
    
    h1 {
        font-family: cursive;
    }
    
    .level button {
        background: #3498db;
        border-radius: 28px;
        font-family: cursive;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .level button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }
    
    .start-game-emoji {
        cursor: pointer;
        height: 35px;
        margin-top: 15px;
        background-color: skyblue;
    }
    
    .start-game-emoji:hover {
        background: blue;
    }
    
    .timer {
        font-size: 20px;
        width: 50px;
        height: 15px;
        background-color: lightsalmon;
        padding-inline: 20px;
        margin-inline: 25px;
        border-radius: 28px;
        font-family: cursive;
    }
    
    .counter {
        font-size: 20px;
        width: 50px;
        height: 15px;
        background-color: lightsalmon;
        padding-inline: 20px;
        margin-inline: 25px;
        border-radius: 28px;
        font-family: cursive;
    }
    
    .board-container {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
        cursor: pointer;
    }
    
    .game-table {
        width: auto;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .cells-before-click {
        background-color: grey;
        width: 25px;
        height: 25px;
    }
    
    .cell-after-click {
        background-color: lightgray;
    }
    
    #gameover {
        width: 250px;
        height: 250px;
        font-size: 40px;
        position: fixed;
        text-align: center;
        top: 200px;
        bottom: 200px;
        left: 650px;
        right: 0;
        background: rgba(105, 93, 93, 0.7);
        visibility: hidden;
    }
    
    .tryagain {
        background: #3498db;
        border-radius: 28px;
        font-family: cursive;
        color: #ffffff;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        cursor: pointer;
    }